*.class
*.bin
*.prefs
*.lock
*.log
*.classpath
*.project
workspace.xml
/build/*
/test/*
/bin/*
/.idea/*
/.settings/*
/gradle/*
/.gradle/*

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

